<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>:: Listing ::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin &amp; Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="http://osisms.ositracker.com/Minible_v2.1.0/Admin/dist/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="styles/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    
    <!-- Icons Css -->
    <link href="styles/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="styles/app.min.css" id="app-style" rel="stylesheet" type="text/css">




</head>


<body class="" data-sidebar-size="lg">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a>
                            <span class="logo-sm">
                                <img src="images/logo-sm.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="images/logo-dark.png" alt="" height="20">
                            </span>
                        </a>

                        <a href="https://themesbrand.com/minible/layouts/index.html" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="images/logo-sm.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="images/ogo-sm.png" alt="" height="20">
                            </span>
                        </a>
                    </div>

                    <button type="button"
                        class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->

                </div>

                <div class="d-flex">


                    <div class="dropdown d-inline-block">

                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="m-0 font-size-16"> Notifications </h3>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small"> Mark all as read</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar="init" style="max-height: 230px;">
                                <div class="simplebar-wrapper" style="margin: 0px;">
                                    <div class="simplebar-height-auto-observer-wrapper">
                                        <div class="simplebar-height-auto-observer"></div>
                                    </div>
                                    <div class="simplebar-mask">
                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                            <div class="simplebar-content-wrapper"
                                                style="height: auto; padding-right: 0px; padding-bottom: 0px; overflow: hidden;">
                                                <div class="simplebar-content" style="padding: 0px;">
                                                    <a href="javascript:void(0);" class="text-dark notification-item">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-xs">
                                                                    <span
                                                                        class="avatar-title bg-primary rounded-circle font-size-16">
                                                                        <i class="uil-shopping-basket"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h6 class="mb-1">Your order is placed</h6>
                                                                <div class="font-size-12 text-muted">
                                                                    <p class="mb-1">If several languages coalesce the
                                                                        grammar</p>
                                                                    <p class="mb-0"><i
                                                                            class="mdi mdi-clock-outline"></i> 3 min ago
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);" class="text-dark notification-item">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-shrink-0 me-3">
                                                                <img src="images/avatar-3.jpg"
                                                                    class="rounded-circle avatar-xs" alt="user-pic">
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h6 class="mb-1">James Lemire</h6>
                                                                <div class="font-size-12 text-muted">
                                                                    <p class="mb-1">It will seem like simplified
                                                                        English.</p>
                                                                    <p class="mb-0"><i
                                                                            class="mdi mdi-clock-outline"></i> 1 hour
                                                                        ago</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);" class="text-dark notification-item">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-xs">
                                                                    <span
                                                                        class="avatar-title bg-success rounded-circle font-size-16">
                                                                        <i class="uil-truck"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h6 class="mb-1">Your item is shipped</h6>
                                                                <div class="font-size-12 text-muted">
                                                                    <p class="mb-1">If several languages coalesce the
                                                                        grammar</p>
                                                                    <p class="mb-0"><i
                                                                            class="mdi mdi-clock-outline"></i> 3 min ago
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <a href="javascript:void(0);" class="text-dark notification-item">
                                                        <div class="d-flex align-items-start">
                                                            <div class="flex-shrink-0 me-3">
                                                                <img src="images/avatar-4.jpg"
                                                                    class="rounded-circle avatar-xs" alt="user-pic">
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h6 class="mb-1">Salena Layfield</h6>
                                                                <div class="font-size-12 text-muted">
                                                                    <p class="mb-1">As a skeptical Cambridge friend of
                                                                        mine occidental.</p>
                                                                    <p class="mb-0"><i
                                                                            class="mdi mdi-clock-outline"></i> 1 hours
                                                                        ago</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
                                </div>
                                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"
                                        style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
                                </div>
                                <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"
                                        style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
                                </div>
                            </div>
                            <div class="p-2 border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                        <i class="uil-arrow-circle-right me-1"></i> View More..
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="images/avatar-4.jpg"
                                alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Marcus</span>
                            <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i
                                    class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span
                                    class="align-middle">View Profile</span></a>
                            <a class="dropdown-item" href="#"><i
                                    class="uil uil-wallet font-size-18 align-middle me-1 text-muted"></i> <span
                                    class="align-middle">My Wallet</span></a>
                            <a class="dropdown-item d-block" href="#"><i
                                    class="uil uil-cog font-size-18 align-middle me-1 text-muted"></i> <span
                                    class="align-middle">Settings</span> <span
                                    class="badge bg-success-subtle text-success rounded-pill mt-1 ms-2">03</span></a>
                            <a class="dropdown-item" href="#"><i
                                    class="uil uil-lock-alt font-size-18 align-middle me-1 text-muted"></i> <span
                                    class="align-middle">Lock screen</span></a>
                            <a class="dropdown-item" href="#"><i
                                    class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span
                                    class="align-middle">Sign out</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu mm-active">

            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="https://themesbrand.com/minible/layouts/index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="images/osi_logo_white.png" alt="" height="40">
                    </span>
                </a>

                <a href="https://themesbrand.com/minible/layouts/index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="images/logo-light.png" alt="" height="20">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div data-simplebar="init" class="sidebar-menu-scroll mm-show">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: -20px; bottom: 0px;">
                            <div class="simplebar-content-wrapper"
                                style="height: 100%; padding-bottom: 0px; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">

                                    <!--- Sidemenu -->
                                    <div id="sidebar-menu" class="mm-active">
                                        <!-- Left Menu Start -->
                                        <ul class="metismenu list-unstyled mm-show" id="side-menu">

                                            <li class="">
                                                <a href="index.html" class="waves-effect" aria-expanded="false">
                                                    <i class="uil-home-alt"></i>
                                                    <span>Dashboard</span>
                                                </a>
                                            </li>


                                            <li>
                                                <a href="customers.html" class="active" aria-expanded="false">
                                                    <i class="uil-calender"></i>
                                                    <span>Bookings</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="reviews.html" class=" waves-effect" aria-expanded="false">
                                                    <i class="uil-comments-alt"></i>
                                                    <span>Tab 3</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="affiliates.html" class=" waves-effect" aria-expanded="false">
                                                    <i class="uil-comments-alt"></i>
                                                    <!-- <span class="badge rounded-pill bg-success float-end">New</span> -->
                                                    <span>Tab 4</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!-- Sidebar -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 1000px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                    </div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                    <div class="simplebar-scrollbar"
                        style="height: 687px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
            </div>
        </div>
        <!-- Left Sidebar End -->



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0"> Date : 25/11/2024</h4>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="whitebox">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cricket</th>
                                            <th scope="col"></th>
                                           
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td scope="row">08:00 AM - 11:00 AM
                                                
                                            </td>
                                          
                                            <th scope="col"></th>
                                            
                                          
                                            
                                            <td> <a href="" class="btn btn-success"> Book Now</a>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                  
                                   
                                </table>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Football</th>
                                            <th scope="col"></th>
                                           
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td scope="row">08:00 AM - 11:00 AM
                                                
                                            </td>
                                          
                                            <th scope="col"></th>
                                            
                                          
                                            
                                            <td> <a href="" class="btn btn-success"> Book Now</a></td>
                                        </tr>
                                    </tbody>
                                  
                                   
                                </table>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Badminton</th>
                                            <th scope="col"></th>
                                           
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td scope="row">08:00 AM - 11:00 AM
                                                
                                            </td>
                                          
                                            <th scope="col"></th>
                                            
                                          
                                            
                                            <td> <a href="" class="btn btn-success"> Book Now</a></td>
                                        </tr>
                                    </tbody>
                                  
                                   
                                </table>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Basketball</th>
                                            <th scope="col"></th>
                                           
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td scope="row">08:00 AM - 11:00 AM
                                                
                                            </td>
                                          
                                            <th scope="col"></th>
                                            
                                          
                                            
                                            <td> <a href="" class="btn btn-success"> Book Now</a></td>
                                        </tr>
                                    </tbody>
                                  
                                   
                                </table>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Table Tennis</th>
                                            <th scope="col"></th>
                                           
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td scope="row">08:00 AM - 11:00 AM
                                                
                                            </td>
                                          
                                            <th scope="col"></th>
                                            
                                          
                                            
                                            <td> <a href="" class="btn btn-success"> Book Now</a></td>
                                        </tr>
                                    </tbody>
                                  
                                   
                                </table>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Gymnastics</th>
                                            <th scope="col"></th>
                                           
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td scope="row">08:00 AM - 11:00 AM
                                                
                                            </td>
                                          
                                            <th scope="col"></th>
                                            
                                          
                                            
                                            <td> <a href="" class="btn btn-success"> Book Now</a></td>
                                        </tr>
                                    </tbody>
                                  
                                   
                                </table>
                                

                              
                            </div>
                        </div>
                    </div>


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <script>document.write(new Date().getFullYear())</script> © Frentford.
                        </div>

                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->





    <!-- JAVASCRIPT -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/waves.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    

  

    <!-- apexcharts -->
    <script src="js/apexcharts.min.js"></script>

    <script src="js/dashboard.init.js"></script>

    <!-- App js -->
    <script src="js/app.js"></script>

</body>

</html>